{% extends "dashboard/base.html" %}

{% block content%}
<div class="container">
    <h2>Search Available Hospitals...</h2>
    
    <form action="{% url 'hospital-search-results' %}" method="get">
        <input name="q" type="text" placeholder="Search Hospital...">
      </form>
</div>
<br>
<div class="container">
<ul class="navbar-nav ml-auto">
{% for hospital in object_list %}
  <h4>
      <a href="{% url 'hospital-details' hospital.id %}">
          <li class ="nav-item">
              Hospital name : {{ hospital.name }}<br>
              Hospital Address : {{ hospital.pk }}
          </li>
          <br>
      </a>
  </h4>    
{% endfor %}
</ul>

</div>
{% endblock %}