{% extends "dashboard/base.html" %}

{% block usertype %}
    
    {%if user.type == 'MANAGER' %}
        {% if  user.hospital%}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'equipment-list' %}">View Equipment</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Notifications</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'list-employees' %}">View Employees</a>
            </li>
          
            <li class="nav-item">
                <a class="nav-link" href="{% url 'list-tickets' %}">View Issues</a>
            </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register-hospital'%}">Register Hospital</a>
              </li>
        {% endif %}
        
        
    {% elif user.type == 'ENGINEER' %}
        {% if  user.current_hospital %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'equipment-list' %}">View Equipment</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'eng-work' %}">My Work</a>
          </li>
        
          <li class="nav-item">
              <a class="nav-link" href="{% url 'list-tickets' %}">View Issues</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="{% url 'add-department' %}">Add Department</a>
          </li>
        {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'hospital-search'%}">Search for a Hospital</a>
          </li>
        {% endif %}
        
        
    {% elif user.type == 'DOCTOR' %}
        {% if  user.current_hospital %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'equipment-list' %}">View Equipment</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'submit-ticket' %}">Submit a Ticket</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'hospital-search'%}">Search for a Hospital</a>
            </li>
        {% endif %} 
    {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
{% endblock%}

{% block content %}

{% if user.type == 'ENGINEER' %}

<div class="container">

  <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Total Work Orders</th>
          <th scope="col">Work Orders Done</th>
          <th scope="col">Total Time Response</th>
          <th scope="col">Average Time Response</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ user.first_name }} {{user.last_name}}</td>
          <td>{{ user.total_orders }}</td>
          <td>{{ user.orders_done }}</td>
          <td>{{ user.total_response_time }}</td>
          <td>{{ user.average_response_time }}</td>
        </tr>
      </tbody>
    </table>
</div>
<div class="container">
  <a href="{% url 'eng-work' %}"><button class='btn'>View Your Work Orders</button></a>
</div>
{% else %}
<div class="container">


<header class="jumbotron my-4">
    <h1 class="display-3">A Warm Welcome!</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
    <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
  </header>
<!-- Page Features -->
<div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
  </div>
  <!-- /.container -->
</footer>
{% endif %}
{% endblock %}
